.Study_Leave_Application:hover {
  background-color: #7bb3f2;
}
/* For Other_Leave_Application-section */
.Other_Leave_Application-section:hover {
  background-color: #7bb3f2;
}

/* For Previous_Application */
.Previous_Application:hover {
  background-color: #7bb3f2;
}
